.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  margin-right: 10px;
}

.btn-custom {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-custom:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 768px) {
  .full-url,
  .short-url {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  th:nth-child(4),
  td:nth-child(4) {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    font-size: 14px;
  }

  .my-input {
    padding: 6px;
    margin-right: 5px;
  }

  .btn-custom {
    margin-top: 10px;
  }

  table {
    overflow-x: auto;
    white-space: nowrap;
  }

  th:nth-child(4),
  td:nth-child(4) {
    display: none;
  }
}
